# Dimensão Técnico

Dimensão de técnicos de manutenção.

In [ ]:
spark.sql(f"""
CREATE OR REPLACE TABLE {fqtn(SCHEMA_GOLD, 'dim_tecnico')} AS
SELECT DISTINCT
    technician_id,
    technician_id as technician_name
FROM {fqtn(SCHEMA_SILVER, 'maintenance_orders_clean')}
WHERE technician_id IS NOT NULL
""")