# Dimensão Produto

Dimensão de produtos fabricados.

In [ ]:
spark.sql(f"""
CREATE OR REPLACE TABLE {fqtn(SCHEMA_GOLD, 'dim_produto')} AS
SELECT DISTINCT
    product_id,
    product_id as product_name
FROM {fqtn(SCHEMA_SILVER, 'production_orders_clean')}
WHERE product_id IS NOT NULL
""")