# Dimensão Tempo

Criação e carga da tabela de dimensão de tempo (calendário).

In [ ]:
# Configuração (lê parâmetros do job)
try:
    CATALOG = dbutils.widgets.get('catalog')
except:
    CATALOG = 'manufatura_lakehouse'

try:
    SCHEMA_SILVER = dbutils.widgets.get('schema_silver')
except:
    SCHEMA_SILVER = 'silver'

try:
    SCHEMA_GOLD = dbutils.widgets.get('schema_gold')
except:
    SCHEMA_GOLD = 'gold'

def fqtn(schema, table):
    if CATALOG and CATALOG.lower() != 'none':
        return f"`{CATALOG}`.`{schema}`.`{table}`"
    else:
        return f"`{schema}`.`{table}`"

# Criar schema se necessário
if CATALOG and CATALOG.lower() != 'none':
    spark.sql(f"CREATE SCHEMA IF NOT EXISTS `{CATALOG}`.`{SCHEMA_GOLD}`")
    spark.sql(f"USE CATALOG `{CATALOG}`")
else:
    spark.sql(f"CREATE DATABASE IF NOT EXISTS `{SCHEMA_GOLD}`")

In [ ]:
spark.sql(f"""
CREATE TABLE IF NOT EXISTS {fqtn(SCHEMA_GOLD, 'dim_tempo')} (
    date_key INT,
    full_date DATE,
    year INT,
    quarter INT,
    month INT,
    day_of_week INT,
    day_name STRING,
    month_name STRING,
    is_weekend BOOLEAN
) USING DELTA
""")

# Gerar dados de 2023 a 2025 se a tabela estiver vazia
if spark.read.table(fqtn(SCHEMA_GOLD, 'dim_tempo')).count() == 0:
    spark.sql(f"""
    WITH dates AS (
      SELECT date_add('2023-01-01', pos) as d
      FROM (SELECT posexplode(sequence(0, 1095)) as (pos, val))
    )
    INSERT INTO {fqtn(SCHEMA_GOLD, 'dim_tempo')}
    SELECT 
      year(d) * 10000 + month(d) * 100 + day(d) as date_key,
      d as full_date,
      year(d),
      quarter(d),
      month(d),
      dayofweek(d),
      date_format(d, 'EEEE') as day_name,
      date_format(d, 'MMMM') as month_name,
      dayofweek(d) IN (1, 7) as is_weekend
    FROM dates
    """)