# View Downtime por Causa

Downtime agregado por tipo de manutenção e equipamento.

In [ ]:
spark.sql(f"""
CREATE OR REPLACE VIEW {fqtn(SCHEMA_GOLD, 'vw_downtime_por_causa')} AS
SELECT 
    t.full_date,
    e.equipment_name,
    tm.maintenance_type,
    sum(f.downtime_minutes) as total_downtime_minutes,
    count(*) as maintenance_count,
    avg(f.downtime_minutes) as avg_downtime_minutes
FROM {fqtn(SCHEMA_GOLD, 'fact_manutencao')} f
JOIN {fqtn(SCHEMA_GOLD, 'dim_tempo')} t ON f.start_date_key = t.date_key
JOIN {fqtn(SCHEMA_GOLD, 'dim_equipamento')} e ON f.equipment_id = e.equipment_id
LEFT JOIN {fqtn(SCHEMA_GOLD, 'dim_tipo_manutencao')} tm ON f.maintenance_type = tm.maintenance_type
GROUP BY 1, 2, 3
ORDER BY total_downtime_minutes DESC
""")