# View Equipamentos Críticos

Equipamentos com maior downtime ou menor OEE.

In [ ]:
# Configuração (lê parâmetros do job)
CATALOG = dbutils.widgets.get('catalog') if 'catalog' in [w.key for w in dbutils.widgets.getAll()] else 'manufatura_lakehouse'
SCHEMA_SILVER = dbutils.widgets.get('schema_silver') if 'schema_silver' in [w.key for w in dbutils.widgets.getAll()] else 'silver'
SCHEMA_GOLD = dbutils.widgets.get('schema_gold') if 'schema_gold' in [w.key for w in dbutils.widgets.getAll()] else 'gold'

def fqtn(schema, table):
    if CATALOG and CATALOG.lower() != 'none':
        return f"`{CATALOG}`.`{schema}`.`{table}`"
    else:
        return f"`{schema}`.`{table}`"

# Criar schema se necessário
if CATALOG and CATALOG.lower() != 'none':
    spark.sql(f"CREATE SCHEMA IF NOT EXISTS `{CATALOG}`.`{SCHEMA_GOLD}`")
    spark.sql(f"USE CATALOG `{CATALOG}`")
else:
    spark.sql(f"CREATE DATABASE IF NOT EXISTS `{SCHEMA_GOLD}`")

In [ ]:
spark.sql(f"""
CREATE OR REPLACE VIEW {fqtn(SCHEMA_GOLD, 'vw_equipamentos_criticos')} AS
WITH equipment_metrics AS (
    SELECT 
        e.equipment_id,
        e.equipment_name,
        sum(f.downtime_minutes) as total_downtime,
        count(DISTINCT f.maintenance_sk) as maintenance_count,
        sum(q.failed_quantity) as total_failures
    FROM {fqtn(SCHEMA_GOLD, 'dim_equipamento')} e
    LEFT JOIN {fqtn(SCHEMA_GOLD, 'fact_manutencao')} f ON e.equipment_id = f.equipment_id
    LEFT JOIN {fqtn(SCHEMA_GOLD, 'fact_qualidade')} q ON e.equipment_id = q.equipment_id
    GROUP BY 1, 2
)
SELECT 
    equipment_id,
    equipment_name,
    total_downtime,
    maintenance_count,
    total_failures,
    (total_downtime + COALESCE(total_failures, 0) * 10) as criticality_score
FROM equipment_metrics
ORDER BY criticality_score DESC
""")